<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
        <h1 class="display-4 jumbotron">Technologies Used</h1>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <a href="https://getbootstrap.com/">
                <img class="img-responsive" src="assets/images/bootstrapLogo.jpg">
              </a>
            </div>
            <div class="col-md-6">
              <a href="https://www.emberjs.com/">
                <img class="img-responsive" src="assets/images/emberLogo.png">
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <a href="https://nodejs.org/en/">
              <img class="img-responsive" src="assets/images/nodejsLogo.png">
            </a>
          </div>
          <div class="col-md-6">
            <a href="https://www.postgresql.org">
              <img class="img-responsive" src="assets/images/postgresqlLogo.png">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
