<div class="col-md-3">
  <div class="todolist">
    <h1>Already Done</h1>
    <ul id="done-items" class="list-unstyled">
      <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
    </ul>
  </div>
</div>