<div class="container">
  <div class="row justify-content-center">
    <h1 class="jumbotron">Todos</h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {{add-todo}}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul id="sortable" class="list-unstyled">
      {{#each model as |todoItem|}}
        {{todo-item todoItem=todoItem id=todoItem.id}}
      {{/each}}
      </ul>
    </div>
  </div>
</div>